﻿@model WebApplication1.Models.etuduiant

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <form method="post">
        <input type="number" name="Id" id="Id" />
        <input type="text" name="Nom" id="Nom" />
        <input type="text" name="Email" id="Email" />
        <input type="text" name="Niveau" id="Niveau" />
        <select name="Cours" id="Cours">
            
            @foreach (WebApplication1.Models.Cours element in ViewBag.mesCours)
            { 
            <option value="@element.Sigle">@element.Titre</option>
            }

        </select>
        <input type="submit" value="inscrire"/>

    </form>
</body>
</html>
